<div class="card">
    <div class="card-header bg-dark text-white">
        <h2 class="mb-0">Instructions</h2>
    </div>
    <div class="card-body">
        <p style="font-size: 1.2em;">{{ recipe.instructions }}</p>
    </div>
</div>
